<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%magenta(%d{HH:mm:ss.SSS}) [%15.15thread] %highlight(%-5level) %cyan(%-36.36logger{36}): %blue(%msg%n)</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="de.paluno.game" level="DEBUG"/>
    <logger name="de.karaca.net" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
